## Allows
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

## Breaks
AlwaysBreakTemplateDeclarations: true
BinPackParameters: false
BreakConstructorInitializersBeforeComma: true
BreakBeforeBraces: Allman

## Indentation base
UseTab: false
IndentCaseLabels: false
NamespaceIndentation: All

## Indentation size
AccessModifierOffset: -4
ColumnLimit: 150
ConstructorInitializerIndentWidth: 4
IndentWidth: 4
TabWidth: 4

## Spaces
SpaceAfterControlStatementKeyword: true
SpaceInEmptyParentheses: false
SpacesInParentheses: false

## Misc
MaxEmptyLinesToKeep: 1
PointerBindsToType: true
